modules = ["php-8.2", "web", "nix"]

[nix]
channel = "stable-24_05"
packages = ["static-web-server"]

[deployment]
publicDir = "/"
deploymentTarget = "static"

[workflows]
runButton = "Serve Portfolio with PHP"

[[workflows.workflow]]
name = "Serve Portfolio with PHP"
author = 45048640
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php -S 0.0.0.0:5000 -t ."

[[ports]]
localPort = 5000
externalPort = 5000